@import '../kit/_variables';

.intro {
  background-size: cover;
  background-image: url('../assets/images/header/background.png');
  background-repeat: no-repeat;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 800px;

  .intro_block {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 42px;

    .intro_block__logo {
      width: 63px;
      height: 63px;
      transition: transform 0.4s ease-in-out;
      animation-name: logo;
      animation-duration: 1s;
      animation-iteration-count: infinite;
    }

    .intro_block__headline {
      font-family: 'Oswald', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 48px;
      line-height: 64px;
      text-align: center;
      color: $ultra-white-color;
      letter-spacing: 2px;
    }

    .intro_block__sub-headline {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 32px;
      text-align: center;
      letter-spacing: 1px;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}

@keyframes logo {
  20% {
    transform: rotateY(0) scale(1);
  }
  70% {
    transform: rotateY(180deg) scale(1.5);
  }
  100% {
    transform: rotateY(0) scale(1);
  }
}
