@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf');
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../assets/fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Oswald';
  src: url('../assets/fonts/Oswald/Oswald-Regular.ttf');
}
