@import "kit/_variables";

@media screen and (max-width: 768px) {
  .footer {
    .footer-block {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 29px;
      text-align: center;

      .footer-block-contact {
        .footer-block-contact__address {
          margin-bottom: 18px;
        }
      }
    }
  }
}
