@import "kit/_variables";

.header {
  width: 100%;

  &:is(.header--main) {
    top: 50px;
    position: absolute;
    z-index: 10;
  }

  &:not(.header--main) {
    margin-top: 50px;
    position: relative;
  }

  .header-logo {
    position: absolute;

    .header-logo__text {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 16px;
      letter-spacing: 0.1em;
      text-transform: uppercase;
      color: $ultra-white-color;
    }
  }

  .header-nav {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    justify-content: center;

    .header-nav__link {
      font-family: 'Source Sans Pro', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.2em;
      color: $ultra-white-color;
      text-transform: uppercase;
      text-decoration: none;


      &:hover {
        text-decoration: underline;
        text-underline-offset: 6px;
      }
    }
  }
}